<section class="mt-3">

  <div class="mt-xs-3">
    <div class="col" *ngIf="(letraPlay$ | async) as letraPlay">
      <span class="h4"> Letras en juego ({{letraPlay.length}}) </span>
      <div class="w-100 content-letter">
        <div class="letter"
             *ngFor="let letra of letraPlay"
             [class.letter--active]="letraPlayService.selectionModel.isSelected(letra)"
             (click)="letterDelete(letra)">
          {{letra}}
        </div>
      </div>
    </div>

  </div>

</section>
<div class="mt-4 content-table">

<!--  <app-spinner></app-spinner>-->

  <ng-container *ngIf="(tablesGame$ | async) as tables; else tmplSpinner">
    <app-tabla *ngFor="let tabla of tables; trackBy:trackByTable"
               [nums]="tabla.numbers"
               [codTabla]="tabla.codTabla"
               [idTabla]="tabla.id"
               (onEdit)="onEdit($event)"
               (onDelete)="onDelete($event)"
    ></app-tabla>
  </ng-container>
</div>

<ng-template #tmplSpinner>
  <app-spinner></app-spinner>
</ng-template>
