<section class="mt-3">

  <div class="mt-xs-3">
    <div class="col" *ngIf="(letraPlay$ | async) as letraPlay">
      <span class="h4"> Letras en juego ({{letraPlay.length}}) </span>
      <div class="w-100 content-letter">
        <div class="letter"
             *ngFor="let letra of letraPlay"
             (click)="letterDelete(letra)">
          {{letra}}
        </div>
      </div>
    </div>

  </div>

</section>
<div class="mt-4 content-table">
  <app-tabla *ngFor="let tabla of tablesGame$ | async"
             [nums]="tabla.items"
             [codTabla]="tabla.codTabla"
  ></app-tabla>
</div>

<dx-popup [width]="300"
          [height]="180"
          [showTitle]="true"
          title="Eliminar Letra"
          [dragEnabled]="false"
          [hideOnOutsideClick]="true"
          [showCloseButton]="false"
          container=".dx-viewport"
          [(visible)]="popupVisible">

  <dxi-toolbar-item widget="dxButton"
                    toolbar="bottom"
                    location="before"
                    [options]="closeButtonOptions"
  ></dxi-toolbar-item>

  <dxi-toolbar-item widget="dxButton"
                    toolbar="bottom"
                    location="after"
                    [options]="deleteButtonOptions"
  ></dxi-toolbar-item>
  <div *dxTemplate="let data of 'content'">
    <p>
      Desea eliminar la letra <b>{{letterSelectDelete}}</b>?
    </p>
  </div>
</dx-popup>
