<section class="mt-3">

  <div class="mt-xs-3">
    <div class="col" *ngIf="(letraPlay$ | async) as letraPlay">
      <h4>Letras en juego <strong>{{letraPlay.length}}</strong></h4>
      <div class="w-100 content-letter">
        <div class="letter"
             *ngFor="let letra of letraPlay"
             [class.letter--active]="letraPlayService.selectionModel.isSelected(letra)"
             (click)="letterDelete(letra)">
          {{letra}}
        </div>
      </div>
    </div>

  </div>

  <div class="row align-items-center">
    <div class="col">
      <h3>
        Total números jugados:
        <strong>{{ countNumberPlayed$ | async  }}</strong>
      </h3>
    </div>
  </div>

</section>
<div class="mt-4 content-table">

  <ng-container *ngIf="(tablesGame$ | async) as tables; else tmplSpinner">
    <app-tabla *ngFor="let tabla of tables; trackBy:trackByTable"
               [nums]="tabla.numbers"
               [codTabla]="tabla.codTabla"
               [idTabla]="tabla.id"
               (onEdit)="onEdit($event)"
               (onDelete)="onDelete($event)"
    ></app-tabla>
  </ng-container>

</div>

<ng-template #tmplSpinner>
  <app-spinner></app-spinner>
</ng-template>
