:host {
  max-width: 300px;
}

.tabla {
  border: 1px solid #327ed2;
  padding: 8px;
  border-radius: 10px;

  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(5, 1fr);
  grid-column-gap: 10px;
  grid-row-gap: 10px;

  &__number {
    width: 40px;
    cursor: pointer;
    font-size: 25px;
    font-weight: bold;
    border: 1px solid #403f3f;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;

    &--is {
      background-color: #bbbb39;
    }
  }

}
