<div class="w-100 d-flex justify-content-between align-items-center mt-3 mb-2">
  <label class="text-danger font-weight-bold f-14">
    # {{codeTable}}
  </label>

  <div>
    <i class="fa fa-edit fa-2x cursor-pointer text-primary me-2"
       (click)="onEdit.emit(idTabla)"
    ></i>
    <i class="fa fa-trash fa-2x cursor-pointer text-danger "
       (click)="onDelete.emit(idTabla)"
    ></i>
  </div>

</div>

<div class="tabla">
  <div class="tabla__number"
       *ngFor="let num of nums; trackBy: trackByNumber"
       [class.tabla__number--is]="num.isSelected">
    {{num.displayNumber}}
  </div>
</div>
<div class="w-100 container-letters">
  <app-letter *ngFor="let letter of lettersPlayed$ | async"
              [letter]="letter"
  ></app-letter>
</div>
