<div class="row align-items-center">
  <div class="col">
    <h3>
      Total números jugados:
      <strong>{{ countNumberPlayed$ | async  }}</strong>
    </h3>
  </div>
  <div class="col-4 text-align-right">
    <button class="btn btn-primary" (click)="clearAllNumbers()">
      Limpiar
    </button>
  </div>
</div>


<section class="container-numbers mt-4">

  <div *ngFor="let _num of numbersDisplay$ | async"
       class="number"
       [class.number--active]="_num.isSelected"
       (click)="pushSelect(_num.display)">
    {{_num.display}}
  </div>

</section>
