.container-numbers {
  display: grid;
  grid-template-columns: repeat(auto-fill, 70px);
  gap: 10px;
}

.number {
  height: 70px;
  cursor: pointer;
  border-radius: 50%;
  border: 1px solid #2b3035;

  display: flex;
  justify-content: center;
  align-items: center;

  &--active {
    background-color: #0a58ca;
    color: white;
    font-weight: bold;
  }

}
